@import "./partials/variables";
@import "./partials/extend";
@font-face {
    font-family: Dutch;
    src: url(../fonts/Du801Bd.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "./partials/form";
@import "./partials/competencias";
@import "./partials/conocenos";
@import "./partials/galeria";
@import "./partials/hero";
@import "./partials/mediaQuerys";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Barlow';
    text-decoration: none;
    justify-content: center;
    background-color: $color-white;
}

header{
    display: block;
    background-color: $primary-color;
    /*position: fixed;*/
    z-index: 9;
    width: 100%;
    justify-content:space-between;
    align-items: center;
    margin: auto;
}

.container{
    display: flex;
    max-width: 1140px;
    padding-right: 15px;
    padding-left: 15px;
    margin: auto;
    justify-content: center;
}

ul{
    padding: 0px;
    margin: auto;
    list-style: none;
    justify-content: space-around;
}

.logo{
    width: 20%;
    justify-content: flex-start;
}

.logo img{
    display: flex;
    justify-content: center;
    margin-left: 10px;
    width: 200px;
}

.navigation-bar a{
    display: inline-block;
    padding: 20px 20px;
    text-align: center;
    font-weight: 400;
    font-size: 1.2rem;
    justify-content: flex-end;
}



div{
    display: block;
}

h1{
    font-size: 3rem;
    padding-bottom: 20px;
    padding-top: 20px;
    font-family: Dutch;
}

h2{
    font-size: 2.5rem;
    font-family: Dutch;
    color: $secondary-color;
    padding-bottom: 20px;
    padding-top: 20px;
}

a{
    text-decoration: none;
    color: #070501;
}

a:hover{
    color: $primary-color;
}

.contenedor-verde{
    width: 100%;
    background-color: $primary-transparency;
    align-items: center;
    align-content: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 30px;
    display: block;
}

.contenedor-blanco{
    width: 100%;
    background-color: $color-white;
    align-items: center;
    align-content: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 30px;
    display: block;
}

.caja-blanca{
    width: 80%;
    max-width: 1140px;
    margin: auto;
    position: relative;
    background-color: $color-white;
    align-items: center;
    align-content: center;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 30px;
}

.caja-verde{
    width: 80%;
    max-width: 1140px;
    margin: auto;
    position: relative;
    background-color: $primary-transparency;
    align-items: center;
    align-content: center;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 30px;
}

iframe{
    display: flex;
    width: 100%;
    height: 500px;
    border-radius: 10px;
    align-content: center;
    margin: auto;
}

.encabezado-caja{
    padding-bottom: 15px;
}

.container-button{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: auto;
}

.button{
    background: $secondary-color;
    color: $color-white;
    padding: 1rem 3rem;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    font-family: 'Barlow';
    align-content: center;
}

p{
    padding-bottom: 0.8rem;
    font-size: 1.2rem;
}

.contenedor-cards{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.card{
    margin: 10px;
    background-color: $color-white;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 300px;

}

.card:hover{
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.4);
    transform: scale(1.05, 1.05);
    transition: all 0.2s ease-in;
}

.card-header{
    padding: 0px;
}

.card-header img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    min-height: 100px;
}

.card-body p {
    font-size: 13px;
    margin: 0 0 40px;
}

#caja1{
    grid-area: 1 / 1 / 1/ 2;
}

#caja2{
    grid-area: 1 / 2 / 1/ 3;
}

.navbar-nav {
    font-size: 1.2rem !important;
    font-weight: 500;
    justify-content: flex-end;
}

.navbar {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: $secondary-color;
}

.nav-link:hover {
    color: $primary-color !important;

}

.container-fluid{
    max-width: 1140px;
    margin: auto;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: center;
    font-family: Dutch;

}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 1.5rem;
}


.card {
    background-color: $color-white !important
}



h3 {
    font-size: 2rem;
}

.social {
    font-size: 21px !important
}

.color-text {
    color: #757575 !important
}

button {
    font-size: calc(12px + (13 - 12) * ((100vw - 360px) / (1600 - 320))) !important;
    padding-left: calc(20px + (28 - 20) * ((100vw - 360px) / (1600 - 360))) !important;
    padding-right: calc(20px + (28 - 20) * ((100vw - 360px) / (1600 - 360))) !important;
    padding-top: calc(10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))) !important;
    padding-bottom: calc(10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))) !important
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}

footer a{
    color: $color-black !important
}

footer img {
    max-height: 200px;
}

.row-1 {
    background-color: $primary-color !important;
}

.row-2 {
    background-color: $primary-color !important;
}

