footer a{
    color: $color-black !important;
    font-size: 1.2rem;
}

footer img {
    max-height: 200px;
}

.row-1 {
    background-color: $primary-color !important;
}

.row-2 {
    background-color: $primary-color !important;
}

footer a:hover{
    color: $secondary-color;
}

footer .nav-link:hover {
    color: $secondary-color !important;

}

.copyright p{
    font-size: 1rem;
    padding-top: 50px;

}