.contenedor-funcion {
    width: 80%;
    max-width: 1140px;
    margin: auto;
    position: relative;
    background-color: $color-white;
    align-items: center;
    align-content: center;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 30px;
	@media screen and (max-width:767px) {
		width: 100%;
		padding: 0px;
	}
}

.funcion-container{
    display: flex;
	flex-direction: column; 
	justify-content: center;
	align-items: center;
	
}

.funcion {
	background-color: $color-white;
	border-radius: 10px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	display: flex;
	max-width: 100%;
	margin: 20px 0 20px 0;
	overflow: hidden;
	@media screen and (max-width:1140px) {
		flex-direction: column;
        width: 100%;
	}
}

.funcion:hover {
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.05, 1.05);
    transition: all 0.2s ease-in;

}

.funcion h6 {
	opacity: 0.6;
	margin: 0;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.funcion h2 {
	letter-spacing: 1px;
	margin: 10px 0;
}

.funcion-preview {
	background-color: $secondary-color;
	color: $color-white;
	padding: 30px;
	max-width: 250px;
	@media screen and (max-width:1140px) {
		max-width: none;
	}
}

.funcion-preview a {
	color: $color-white;
	display: inline-block;
	font-size: 12px;
	opacity: 0.6;
	margin-top: 30px;
	text-decoration: none;
	
}

.funcion-info {
	padding: 30px;
	position: relative;
	width: 100%;
}